@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-color: #e8eaee;
   --background-color: #000000;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-color: #000000;
      --background-color: #e8eaee;
   }
}

body {
   color: var(--foreground-color);
   background: var(--background-color);
}
